/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 40px;
}
@media (max-width: 1279px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0 10px;
  }
}

h1 {
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #F1CDB3;
  margin: 0;
}

h2 {
  font-size: 4.4rem;
  line-height: 130%;
  letter-spacing: none;
  font-style: normal;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  margin: 0;
}
@media (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #545454;
  margin: 0;
}
@media (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #545454;
  margin: 0;
}

h5 {
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #545454;
}

a {
  color: inherit;
  text-decoration: none;
}

.paragraph-l {
  color: #4C4C4C;
  font-size: 1.5rem;
  line-height: 160%;
}

.paragraph-s {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 150%;
  color: #B2B2B2;
}

.item-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets, .donation {
  background-color: #F6F6F6;
}

.start-screen {
  background: url(../../assets/images/noise-line-transporant.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer {
  background: url(../../assets/images/noise-line-transporant.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.button {
  padding: 15px 45px 15px 45px;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button_colored {
  background: #F1CDB3;
  border: none;
}
.button_colored:hover {
  background: #FDDCC4;
}
.button_bordered {
  background: none;
  border: 2px solid #F1CDB3;
}
.button_bordered:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.button-arrow {
  background: none;
  border: 2px solid #F1CDB3;
  padding: 21px 17px;
}
.button-arrow:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.ico {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .ico {
    width: 50px;
    height: 50px;
  }
}

.ico_pet-food {
  background-image: url("../../assets/icons/icon-pet-food.svg");
}

.ico_transportation {
  background-image: url("../../assets/icons/icon-transportation.svg");
}

.ico_toys {
  background-image: url("../../assets/icons/icon-toys.svg");
}

.ico_bowls {
  background-image: url("../../assets/icons/icon-bowls-and-cups.svg");
}

.ico_shampoos {
  background-image: url("../../assets/icons/icon-shampoos.svg");
}

.ico_vitamins {
  background-image: url("../../assets/icons/icon-vitamins.svg");
}

.ico_medicines {
  background-image: url("../../assets/icons/icon-medicines.svg");
}

.ico_collars {
  background-image: url("../../assets/icons/icon-collars-leashes.svg");
}

.ico_sleeping-areas {
  background-image: url("../../assets/icons/icon-sleeping-area.svg");
}

.ico_credit-card {
  background-image: url("../../assets/icons/credit-card.svg");
  width: 30px;
  height: 23px;
}

.ico_email {
  background-image: url("../../assets/icons/icon-email.svg");
  width: 40px;
  height: 32px;
}

.ico_phone {
  background-image: url("../../assets/icons/icon-phone.svg");
  width: 40px;
  height: 32px;
}

.ico_address {
  background-image: url("../../assets/icons/icon-marker.svg");
  width: 22px;
  height: 32px;
}

.hamburger__line-pets, .hamburger__line, .hamburger__pets::after, .hamburger__pets::before, .hamburger::after, .hamburger::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  transition: all 0.4s ease;
}

.hamburger {
  position: relative;
  display: none;
  width: 30px;
  height: 23px;
  margin-right: 53px;
  transition: all 0.8s;
}
@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
  }
}
.hamburger::before {
  background-color: #F1CDB3;
  top: 0;
  left: 0;
}
.hamburger::after {
  background-color: #F1CDB3;
  bottom: 0;
  left: 0;
}

.hamburger__pets {
  position: relative;
  display: none;
  width: 30px;
  height: 23px;
  margin-right: 53px;
  transition: all 0.8s;
}
@media (max-width: 767px) {
  .hamburger__pets {
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
  }
}
.hamburger__pets::before {
  background-color: #000000;
  top: 0;
  left: 0;
}
.hamburger__pets::after {
  background-color: #000000;
  bottom: 0;
  left: 0;
}

.hamburger__line {
  background-color: #F1CDB3;
  top: calc(50% - 1px);
  left: 0;
}

.hamburger__line-pets {
  background-color: #000000;
  top: calc(50% - 1px);
  left: 0;
}

.hamburger:hover,
.hamburger__pets:hover {
  cursor: pointer;
}

.hamburger-active {
  transform: rotate(90deg);
  transition: all 0.8s;
  position: absolute;
  top: 10px;
  right: 20px;
}

.hamburger__pets-active {
  transform: rotate(90deg);
  transition: all 0.8s;
  position: absolute;
  top: 39px;
  right: 20px;
}

.overlay {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.overlay-active {
  background: rgba(41, 41, 41, 0.6);
  visibility: visible;
  opacity: 1;
}

.fixed-position {
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  display: flex;
  background-color: #FAFAFA;
  width: 900px;
  height: 500px;
  border-radius: 9px;
  position: relative;
}
@media (max-width: 1000px) {
  .popup__content {
    width: 630px;
    height: 350px;
  }
}
@media (max-width: 740px) {
  .popup__content {
    width: 240px;
    height: 341px;
  }
}
.popup__content:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.popup__content .item-image {
  height: 100%;
  max-width: 500px;
  border-radius: 9px;
}
@media (max-width: 740px) {
  .popup__content .item-image {
    display: none;
  }
}

.popup-active {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.item-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  padding: 50px 20px 88px 29px;
  width: 45%;
}
@media (max-width: 1000px) {
  .item-info {
    padding: 10px 10px 37px 10px;
  }
}
@media (max-width: 740px) {
  .item-info {
    padding: 10px 10px 10px 10px;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .item-info .item-description {
    font-size: 13px;
  }
}
@media (max-width: 740px) {
  .item-info h5 {
    margin: 5px 0;
  }
}
.item-info ul {
  padding-inline-start: 20px;
  color: #F1CDB3;
  margin: 0;
}
.item-info ul h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.button_close {
  position: absolute;
  top: -52px;
  right: -33px;
  width: 52px;
  height: 52px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_close__img {
  width: 12px;
  height: 12px;
  background-image: url("../../assets/icons/button-close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 2px;
}

.header {
  background-color: #ffffff;
  height: 120px;
  width: 100%;
  top: 0px;
  position: sticky;
}

.wrapper__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: linear 0.5s;
}
.header__logo h1 {
  margin-bottom: 10px;
  color: #545454;
}
.header__logo_subtitle {
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #292929;
}

.header__logo-active {
  visibility: visible;
  width: fit-content;
  opacity: 1;
  position: fixed;
  top: 30px;
  right: 110px;
  z-index: 1;
  transition: all 1.5s ease 0s;
  animation: navLinksFade 1.5s;
}
.header__logo-active h1 {
  color: #F1CDB3;
}
.header__logo-active .header__logo_subtitle {
  color: #ffffff;
}

.header__nav {
  max-width: 443px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: none;
  font-style: normal;
  font-weight: normal;
  list-style-type: none;
  padding: 0;
  color: #545454;
}
@media (max-width: 767px) {
  .navigation li {
    opacity: 0;
    font-size: 32px;
    line-height: 160%;
    margin-bottom: 40px;
  }
}
.navigation li:not(:last-child) {
  margin-right: 35px;
}
@media (max-width: 767px) {
  .navigation li:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .navigation {
    color: #CDCDCD;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 0;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    width: 320px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    background-color: #292929;
    transition: transform 0.5s ease-in;
    padding: 248px 0;
    opacity: 0;
  }
}

.active {
  padding-bottom: 3px;
  border-bottom: 3px solid #F1CDB3;
}

.navigation-active {
  opacity: 1;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
}
.navigation-active li:hover(:nth-child(1n+3)) {
  color: #ffffff;
}
.navigation-active .active {
  color: #ffffff;
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
  }
}
.wrapper__pets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.wrapper__pets h3 {
  max-width: 400px;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1279px) {
  .wrapper__pets h3 {
    margin-top: 70px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1279px) {
  .wrapper__pets {
    padding: 0 94px;
  }
}
@media (max-width: 767px) {
  .wrapper__pets {
    padding: 0 10px;
  }
}

.pets__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-4-columns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
}

.layout-columns__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 22.5%;
  flex-direction: column;
  background-color: #FAFAFA;
  border-radius: 9px;
  margin-bottom: 30px;
}
.layout-columns__item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #ffffff;
}
.layout-columns__item .item-image {
  overflow: hidden;
  background-size: cover;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.layout-columns__item p {
  margin-top: 30px;
  margin-bottom: 30px;
}
.layout-columns__item .item-button {
  margin-bottom: 30px;
}
.layout-columns__item .button_item {
  padding: 13px 43px;
}
@media (max-width: 1279px) {
  .layout-columns__item:nth-child(n+7) {
    display: none;
  }
}
@media (max-width: 767px) {
  .layout-columns__item:nth-child(n+4) {
    display: none;
  }
}

.buttons-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 101px 0;
  width: 340px;
}
@media (max-width: 767px) {
  .buttons-section {
    width: 300px;
    margin: 12px 0 42px 0;
  }
}
.buttons-section .button_rounded {
  padding: 0;
  width: 51px;
  height: 51px;
}
.buttons-section .button_colored {
  border: 2px solid #F1CDB3;
}
.buttons-section .button_colored:hover {
  border: 2px solid #FDDCC4;
}
.buttons-section .button:disabled {
  background: none;
  border: 2px solid #CDCDCD;
  cursor: default;
}
.buttons-section .button:disabled h4 {
  color: #CDCDCD;
}

.wrapper__footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}
.wrapper__footer h3 {
  color: #ffffff;
}
.wrapper__footer h4 {
  color: #F1CDB3;
}
.wrapper__footer a:hover {
  color: #FDDCC4;
}
@media (max-width: 1279px) {
  .wrapper__footer {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .wrapper__footer {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.footer__content {
  margin-top: 36px;
  width: 740px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1279px) {
  .footer__content {
    flex-wrap: wrap;
    margin-top: 11px;
    width: 640px;
  }
}
@media (max-width: 767px) {
  .footer__content {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}

.footer__content-1 {
  width: 279px;
}
.footer__content-1 h3 {
  margin-bottom: 40px;
}
.footer__content-1 .email {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .footer__content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .footer__content-1 {
    margin-bottom: 40px;
  }
}

.footer__content-2 {
  width: 302px;
}
.footer__content-2 h3 {
  margin-bottom: 34px;
}
@media (max-width: 767px) {
  .footer__content-2 h3 {
    width: 98%;
    margin-bottom: 38px;
  }
}
.footer__content-2 .address-1 {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .footer__content-2 .address-1 {
    text-align: left;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .footer__content-2 .address-2 {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .footer__content-2 {
    margin-bottom: 42px;
  }
}

.footer__img {
  margin-top: 20px;
}
@media (max-width: 1279px) {
  .footer__img {
    display: flex;
    justify-content: center;
    margin-top: 65px;
  }
}
@media (max-width: 767px) {
  .footer__img {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
}
.footer__img img {
  width: 100%;
}
@media (max-width: 767px) {
  .footer__img img {
    width: 87%;
  }
}

.ico_footer {
  margin-right: 20px;
}

.email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.address-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.address-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/*# sourceMappingURL=pets.css.map */
