* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  color: #000000;
  transition: background-image 1s ease-in-out;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
}

.update-icon,
.update-quote {
  background: none;
  border: none;
  background-image: url(../momentum/assets/icons/update.png);
  width: 30px;
  height: 30px;
  background-size: cover;
}


.date {
 font-size: 3rem;
 
}

.time {
  font-size: 8rem;
}

h1 {
  margin-bottom: 3rem;
}

.name {
  display: inline-block;
  min-width: 3rem;
}

.focus {
  display: inline-block;
  min-width: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}
