.footer {
    background-color: rgb(110, 66, 164);
    color: white;
    height: 50px;
    font-size: 1rem;
}

.wrapper__footer {
    @include flex();
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
img {
    width: 80px;
    height: 25px;
}
&__github {
    margin: 0 10px;
    img {
        width: 25px;
        height: 25px;
    }
}
}