.ico_email {
    background-image: url("../../assets/icons/icon-email.svg");
    width: 40px;
    height: 32px;
}

.ico_phone {
    background-image: url("../../assets/icons/icon-phone.svg");
    width: 40px;
    height: 32px;
}

.ico_address {
    background-image: url("../../assets/icons/icon-marker.svg");
    width: 22px;
    height: 32px;
}