.wrapper__help {
    @include flex();
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 75px;
    h3 {
        width: 310px;
        text-align: center;
        margin-bottom: 30px;
    }
}

.ico-list {
    @include flex($justify: center);
    width: 1030px;
    flex-wrap: wrap;
    .ico-list__item {
        @include flex();
        flex-direction: column;
        text-align: center;
        margin: 30px 60px 25px 60px;
        &:first-child {
            margin-left: 0px;
        }
        &:nth-child(5) {
            margin-right: 0px;    
        }
        h4 {
            margin-top: 30px;
        }
    }
}

