.ico {
    width: 60px;
    height: 60px;
}

.ico_pet-food {
    background-image: url("../../assets/icons/icon-pet-food.svg");
}

.ico_transportation {
    background-image: url("../../assets/icons/icon-transportation.svg");
}

.ico_toys {
    background-image: url("../../assets/icons/icon-toys.svg");
}

.ico_bowls {
    background-image: url("../../assets/icons/icon-bowls-and-cups.svg");
}

.ico_shampoos {
    background-image: url("../../assets/icons/icon-shampoos.svg");
}

.ico_vitamins {
    background-image: url("../../assets/icons/icon-vitamins.svg");
}

.ico_medicines {
    background-image: url("../../assets/icons/icon-medicines.svg");
}

.ico_collars {
    background-image: url("../../assets/icons/icon-collars-leashes.svg");
}

.ico_sleeping-areas {
    background-image: url("../../assets/icons/icon-sleeping-area.svg");
}