.wrapper__start-screen {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.start-screen__content {
    margin-top: 343px;
    max-width: 460px;
    margin-right: 42px;
}

.start-screen__paragraph {
    margin-top: 42px;
    margin-bottom: 41px;
}