.switch-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 95px; 
    height: 38px; 
    border-radius: 19px;
    background: #13b6bf; 
    z-index: 0;
    padding: 0 8px;
    cursor: pointer;
    position: relative;
    transition-duration: 0.5s;
    text-transform: uppercase;
    color: white;

    &::after {
        content: "";
        height: 32px; 
        width: 32px; 
        border-radius: 17px;
        background: rgb(255, 255, 255); 
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 1;
        transition-duration: 0.3s;
    }  
}

.switch-on {
    background: #4978c7;
    justify-content: flex-start;   

    &::after {
        left: 60px;
    }
}
