.wrapper__footer {
    @include flex($align: flex-start);
    flex-wrap: wrap;
    padding-top: 20px;
    h3 {
        color: $color-light-xl;
    }
    h4 {
        color: $color_primary;
    }
    a:hover {
        color: $color-primary-light;
    }
    @include media-tablet {
        flex-direction: column;
        align-items: center;
    }
}

.footer__content {
    width: 740px;
    @include flex();
    @include media-tablet {
        width: 640px;
    }
}

.footer__content-1 {
    margin-top: 36px;
    width: 279px;
    h3 {
        margin-bottom: 40px;
    }
    .email {
        margin-bottom: 40px;
    }
}

.footer__content-2 {
    margin-top: 36px;
    width: 302px;
    h3 {
        margin-bottom: 34px;
    }
    .address-1 {
        margin-bottom: 32px;
    }
    
}

.footer__img {
    margin-top: 20px;
    @include media-tablet {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
}

.ico_footer {
    margin-right: 20px;
}

.email {
    @include flex($justify: flex-start); 
}

.phone {
    @include flex($justify: flex-start);  
}

.address-1 {
    @include flex($justify: flex-start);  
}

.address-2 {
    @include flex($justify: flex-start);   
}