.wrapper__help {
    @include flex();
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 45px;
    h3 {
        max-width: 310px;
        text-align: center;
        margin-bottom: 60px;
    }

    @include media-tablet {
        padding-top: 80px;
        padding-bottom: 49px;
    }
    @include media-mobilesmall {
        padding: 42px 10px;
    }
}

.ico-list {
    @include flex($justify: center);
    width: 100%;
    flex-wrap: wrap;
    @include media-tablet {
        @include flex();
        max-width: 630px;

    }
    @include media-mobilesmall {
        max-width: 300px;
        @include flex();
        
    }
}

.ico-list__item {
    @include flex();
    flex-direction: column;
    text-align: center;
    margin: 0px 60px 55px 60px;
    h4 {
        margin-top: 30px;
        @include media-mobilesmall {
            font-size: 1.5rem;
        }
        
    }
    @include media-tablet {
        width: 170px;
        margin: 0 0 55px 0;
    }
    @include media-mobilesmall {
        width: 130px;
        margin: 0 0 55px 0;
    }
    
}

