.wrapper__pets {
    @include flex();
    flex-direction: column;
    h3 {
        width: 400px;
        margin-top: 80px;
        margin-bottom: 60px;
        text-align: center;
    }
}

.pets__content {
    @include flex();
}

.layout-columns {
    @include flex();
    flex-wrap: wrap;
    margin-left: 53px;
    margin-right: 53px;
    &__item:not(:last-child)  {
        margin-right: 90px;
    }
    
}

.layout-columns__item {
    @include flex();
    flex-direction: column;
    background-color: $color-light-s;
    border-radius: 9px;
    margin-bottom: 30px;
    &:hover {
        cursor: pointer;
    }
    p {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .item-image {
        overflow: hidden;
        background-size: cover;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }

        .item-button {
        margin-bottom: 30px;
    }

    .button_item {
        padding: 13px 43px;
    }
}

.pets__button {
    margin-top: 30px;
    margin-bottom: 100px;
}