.wrapper__start-screen {
    @include flex();
    flex-wrap: wrap;
}

.start-screen__content {
    max-width: 460px;
    margin-right: 42px;
    margin-top: 97px;
    h2 {
        margin-right: 150px;
    }
    p {
        color: $color-dark-s;
        margin-top: 42px;
        margin-bottom: 41px;
    }
}

.start-screen__img {
    margin-top: 180px;
}
