.wrapper__pets {
    @include flex();
    flex-direction: column;
    h3 {
        width: 400px;
        margin-top: 80px;
        margin-bottom: 60px;
        text-align: center;
    }
}

.pets__content {
    @include flex();
}

.layout-4-columns {
    @include flex();
    flex-wrap: wrap;
} 

.layout-columns__item {
    @include flex();
    flex-direction: column;
    background-color: $color-light-s;
    border-radius: 9px;
    &:hover {
        cursor: pointer;
    }
    .item-image {
        overflow: hidden;
        background-size: cover;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }
    p {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .item-button {
        margin-bottom: 30px;
    }

    .button_item {
        padding: 13px 43px;
    }
    margin-bottom: 30px;
}

.buttons-section {
    @include flex();
    margin: 30px 0 101px 0;
    width: 340px;
    .button_rounded {
        padding: 0;
        width: 51px;
        height: 51px;
    }

    .button_colored {
        border: 2px solid $color_primary;
        &:hover {
            border: 2px solid $color_primary-light;   
        }
    } 
    .button:disabled {
        background: none;
        border: 2px solid $color-dark-s;
        cursor: default;
        h4 {
            color: $color-dark-s;
        }
    }
}