.button {
    padding: 15px 45px 15px 45px;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    cursor: pointer;  
}

.button:active {
    border: none;
}

.button_colored {
    background: $color-primary;
    border: none;
}

.button_colored:hover {
    background: $color-primary-light;     
}

.button_bordered {
    background: none;   
    border: 2px solid $color-primary;
}

.button_bordered:hover {
    background: $color-primary-light;  
    border: 2px solid $color-primary-light;   
}

.button_arrow {
    background: none;   
    border: 2px solid $color-primary;
    //padding: 19px 21px 19px 21px;    
}

.button_arrow:hover {
    background: $color-primary-light;
    border: 2px solid $color-primary-light;
}